.grayito2 {
    background-color: rgb(211, 206, 206);
    border-radius: 10px;
    width: 250px;
    height: 220px;
    font-size: 10px;
   


}



.info3 {
    background-color: hotpink;
    width: 60%;
    border-radius: 5px;
    
}