.grayito {
    background-color: rgb(230, 225, 225);
    border-radius: 10px;
    width: 50%;
    width: 200px;
    height: 220px;
    font-size: 15px;
    
    
   
}

.info {
    background-color: hotpink;
    width: 100%;
    border-radius: 5px;
}

